<!DOCTYPE html>
<html lang="en">
{{> Head }}
<body>

<div class="ui main text container">
    <h1 class="ui header">Error</h1>

    <p>The username you entered is already being used please go back and try a new one</p>

    <form name="form" class="ui form" action="/signupError" method="post">

            <button id="back" class="ui button" type="submit">Back</button>

    </form>

</div>

</body>
</html>