<div class="ui fixed inverted menu">
    <div class="ui container">
        <a class="header item" href="/">
            LogIn
        </a>
        <a class="header item" href="/home">
            MyFace
        </a>
        <a class="header item right" href="/wall/{{loggedInUser.name}}">
            {{loggedInUser.name}}
        </a>
        <a class="header item " href="/">
            Sign Out
        </a>
    </div>
</div>
